<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>ReactJS + Spring Data REST</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>

<table>
    <tr>
        <td><b>First name</b></td>
        <td><b>Last name</b></td>
    </tr>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.firstName}"></td>
        <td th:text="${employee.lastName}"></td>
    </tr>
</table>

<br/>

<span th:text="${version} + ' deployed at ' + ${timestamp}"/>

</body>
</html>